
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'movieapi_Movie_list' %}">
    Movie Listing
    </a>
</p>
    
<table class="table">
    <tr><td>detail</td><td>{{ object.detail }}</td></tr>
    <tr><td>watch_time</td><td>{{ object.watch_time }}</td></tr>
    <tr><td>sound</td><td>{{ object.sound }}</td></tr>
    <tr><td>category</td><td>{{ object.category }}</td></tr>
    <tr><td>name</td><td>{{ object.name }}</td></tr>
    <tr><td>trailer</td><td>{{ object.trailer }}</td></tr>
    <tr><td>year</td><td>{{ object.year }}</td></tr>
    <tr><td>picture</td><td>{{ object.picture }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}